*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

[class*="col"]{
	border: 1px solid transparent;	
}
.company{
	font-size: 35px;
	position: absolute;
	top:2%;
    font-family: 'Pattaya', sans-serif;
	color: black;
	z-index: 1;
}

#port-jumbo{
	/*border: 5px solid rgba(15, 34, 51, 0.74);*/
	border-radius: 10px;
	width: 60%;
	padding: 1em 4em;
	background-color: rgba(217, 235, 242, 0.3);
	height: 400px;
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	/*background-color: rgba(14, 137, 251, 0.66);*/
	background-image: url(../images/bg1.jpg);
	border-radius: 0;
	background-size: cover;

}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: #f2f2f2;
	font-size:
   
}

#welcome{
	font-family: 'Great Vibes', cursive;
	font-size: 80px;
}

#button{
	width: 200px;
	margin: 0 auto;
	background-color: /*rgba(11, 244, 35, 0.82)*/rgba(43, 14, 47, 0.87);
	position: relative;
	top: 8%;
	
}
#button:hover{
	background-color: rgba(188, 36, 171, 0.92);

}

div > div > p >strong{
	font-family: 'Cormorant Garamond', serif;
	color: #000000;
	font-size: 30px;
}

.nav{
	background-color: /*rgba(217, 235, 242, 0.3)*/rgba(243, 229, 246, 0.75);
	position: absolute;
	left: 0%;
	top:0%;
	width: 100%;
	height: 80px;
	
}

.nav-link{
	color: black;
	font-family: 'Ledger', serif;
	background-color: /*rgba(235, 30, 225, 0.82)*//*rgba(171, 68, 187, 0.72)*/;
	position: relative;
	top:15%;
	font-size: 20px;
}

#fav{
	width:40px;
	height:40px;
	border-radius: 10%;
	

	/*home page*/
}
#carouselExampleIndicators{
	height: 50%;
}
.bg{
	height: 500px;
}
#navbar{
	/*background-color: rgba(217, 235, 242, 0.3);*/
	background-color:/*rgba(255, 255, 255, 0.42)*//*rgba(255, 255, 255, 0.5)*/ rgba(243, 249, 252, 1);
	/*position: fixed;
	left: 0%;
	top:0%;*/
	width: 100%;
	height: 80px;
}

.lin{
	color: black;
}
.card{
	/*float: left;*/
	margin-left: 6%;
	margin-top: 2%;
	text-align: center;
}

#home-landing{
	padding: 25%;
	background-color: rgba(26, 74, 91, 0.52);
}

.event{
	height: 400px;
	border: 2px solid transparent;
	
	margin: left 9%;
	background-image: url(../images/charly.jpeg);
    background-size: cover;
    background-position: center;
}

.round{
	border: 2px transparent;
	height: 150px;
	border-radius: 50%

}
footer{
	background-color: rgba(197, 221, 237, 0.99);

	
}
.round-con{
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: ;
	border:2px solid rgba(14, 204, 0, 0.87);
	height: 600px;

}
.card-img{
	border-radius: 50%;
	height: 150px;
	width: 100%;
	margin-top: 0;
	
}


.related{
	height: 350px;
	border: 2px solid black;
	margin-bottom: 3%;
	margin: left 9%;
	background-image: url(../images/pine.jpeg);
	background-size: cover;
	background-position: center;
}
.foot-text{
	color: black;
}


/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 400px)
  and (-webkit-min-device-pixel-ratio: 2){
    

 .company{
	font-size: 10px;
	position: absolute;
	top:1%;
	font-family: 'Pattaya', sans-serif;
	color: black;
	z-index: 1;
}

#port-jumbo{
	/*border: 5px solid rgba(15, 34, 51, 0.74);*/
	border-radius: 10px;
	width: 60%;
	padding: 1em 4em;
	background-color: rgba(217, 235, 242, 0.3);
	height: 350px;
	position: absolute;
	top: 13%;
	left: 20%;
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	/*background-color: rgba(14, 137, 251, 0.66);*/
	background-image: url(../images/bg1.jpg);
	border-radius: 0;
	background-size: cover;
	background-position: center;

}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: #f2f2f2;
	font-size:8px;
   
}

#welcome{
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
}
#web{
	font-size: 12px;
}

#button{
	width: 100px;
	margin: 0 auto;
	background-color: /*rgba(11, 244, 35, 0.82)*/rgba(43, 14, 47, 0.87);
	position: relative;
	top: 5%;
	height: 30px;
	
}
#button:hover{
	background-color: rgba(188, 36, 171, 0.92);

}

div > div > p >strong{
	font-family: 'Cormorant Garamond', serif;
	color: #000000;
	font-size: 30px;
}

.nav{
	background-color: /*rgba(217, 235, 242, 0.3)*/rgba(243, 229, 246, 0.75);
	position: absolute;
	left: 0%;
	top:0%;
	width: 100%;
	height: 50px;
	
}

.nav-link{
	color: black;
	font-family: 'Ledger', serif;
	background-color: /*rgba(235, 30, 225, 0.82)*//*rgba(171, 68, 187, 0.72)*/;
	position: relative;
	top:15%;
	font-size: 7px;
}
#fav{
	width:20px;
	height:20px;
	border-radius: 10%;
	
}

 }


  /*Tablet*/

  @media only screen and (min-width: 401px)
  and (max-width:960px){
.company{
	font-size: 15px;
	position: absolute;
	top:1%;
	font-family: 'Pattaya', sans-serif;
	color: black;
	z-index: 1;
}

#port-jumbo{
	/*border: 5px solid rgba(15, 34, 51, 0.74);*/
	border-radius: 10px;
	width: 60%;
	padding: 1em 4em;
	background-color: rgba(217, 235, 242, 0.3);
	height: 400px;
	position: absolute;
	top: 18%;
	left: 20%;
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	/*background-color: rgba(14, 137, 251, 0.66);*/
	background-image: url(../images/bg1.jpg);
	border-radius: 0;
	background-size: cover;
	background-position: center;
	width: 800px;
}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: #f2f2f2;
	font-size:13px;
   
}

#welcome{
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
}
#web{
	font-size: 20px;
}

#button{
	width: 150px;
	margin: 0 auto;
	background-color: /*rgba(11, 244, 35, 0.82)*/rgba(43, 14, 47, 0.87);
	position: relative;
	top: 8%;
	
}
#button:hover{
	background-color: rgba(188, 36, 171, 0.92);

}

div > div > p >strong{
	font-family: 'Cormorant Garamond', serif;
	color: #000000;
	font-size: 30px;
}

.nav{
	background-color: /*rgba(217, 235, 242, 0.3)*/rgba(243, 229, 246, 0.75);
	position: absolute;
	left: 0%;
	top:0%;
	width: 104%;
	height: 50px;
	
}

.nav-link{
	color: black;
	font-family: 'Ledger', serif;
	background-color: /*rgba(235, 30, 225, 0.82)*//*rgba(171, 68, 187, 0.72)*/;
	position: relative;
	top:15%;
	font-size: 10px;
}
#fav{
	width:30px;
	height:30px;
	border-radius: 10%;
	
}

  }