*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
html{
	scroll-behavior: smooth;
}



[class*="col"]{
	border: 1px solid transparent;	
}
.company{
	font-size: 35px;
	position: absolute;
	top:2%;
    font-family: 'Pattaya', sans-serif;
	color: black;
	z-index: 1;
}

#port-jumbo{
	/*border: 5px solid rgba(15, 34, 51, 0.74);*/
	border-radius: 10px;
	width: 60%;
	padding: 1em 4em;
	background-color: rgba(217, 235, 242, 0.3);
	height: 400px;
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	background-image: url(../images/bg1.jpg);
	border-radius: 0;
	background-size: cover;

}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: #f2f2f2;
	font-size:
   
}
#tig{
	margin-top: 3%;
}

#welcome{
	font-family: 'Great Vibes', cursive;
	font-size: 80px;
}

#button{
	width: 200px;
	margin: 0 auto;
	background-color: /*rgba(11, 244, 35, 0.82)*/rgba(43, 14, 47, 0.87);
	position: relative;
	top: 8%;
	
}
#button:hover{
	background-color: rgba(188, 36, 171, 0.92);

}

div > div > p >strong{
	font-family: 'Cormorant Garamond', serif;
	color: #000000;
	font-size: 30px;
}

.navbar{
	background-color: #fdfaff;
	width: 100%;

}

.nav-link{
	color: black;
	font-family: 'Ledger', serif;
	background-color: /*rgba(235, 30, 225, 0.82)*//*rgba(171, 68, 187, 0.72)*/;
	position: relative;
	top:15%;
	font-size: 20px;
}




#fav{
	width:40px;
	height:40px;
	border-radius: 10%;
	
}
#carouselExampleIndicators{
	height: 100vh;
}
.bg{
	height: 100vh
}
/*#navbar{
	
	background-color:rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 80px;
}*/

.lin{
	color: black;
}
.card{
	
	margin-left: 6%;
	margin-top: 2%;
	text-align: center;
}


.event{
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(assets/images/);
}


.list-group{
  position: relative;
  top: 50%;
}

.ic-1:hover{
	color: green;
}
.ic-2:hover{
	color: #6514c2;
}
.ic-3:hover{
	color: #e9a02b;
}
.ic-4:hover{
	color: red;
}
.ic-5:hover{
	color: orangered;
}
.ic-6:hover{
	color: blue;
}

.tab-content{
	position: relative;
	top: 50%;

}
.top-icon{
    font-size: 3em;
    color: rgba(2, 15, 18, 1);
    margin-left: 6%;
}

.round-con{
	height: 100vh;
	border-right: 10px double green;
	border-left: 10px double green;
}
.video{
	margin-left: 5%;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;

}

.video:hover{
	 width: 300px;
}



.related{
	height: 100vh;
	background-image: url(../images/bgplan.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.icon-bottom{
	font-size: 3em;
    color: rgba(2, 15, 18, 1);
    margin-left: 6%;
}
.ic-botom{
	
	margin-left: 30%;
	margin-top: 5%;
	
}

#issues{
	border-bottom: 5px solid green;
}
 
 /*about page*/
 #mission{
 	/*background-image: url(../images/bgmissionf.jpeg);*/
 	height: 90vh;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;
 }
 .mis-text{
 	background-color: rgba(243, 225, 254, 0.5);
 }
 .img-mis{
 	height: 40%;
 }
 .img-vis{
 	height: 40%;
 }

 #vision{
 	/*background-image: url(../images/bgvissionf.jpeg);*/
 	height: 80vh;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;
 }
 .vis{
 	background-color: rgba(255, 255, 255, 0.48);
 }

 #viss{
 	margin-top:  5%;
 }
 #viss-txt{
     margin-top:  5%;
 }

 #history{
 	height: 100vh;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;
	border-right: 10px double green;
	border-left: 10px double green;

	
 }

.his-text{
	color: black;

}

#event{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../images/charly-1.jpeg);
}



.text-his{
	background-color: rgba(255, 255, 255, 0.63);
	width: 90%;
	margin: 0 auto;
	font-size: 1em;
	padding-top: 2% ;
	padding-left: 2% ;
	padding-right: 2%;
}

#pursuit{
	background-image: url(../images/bg10.jpeg);
 	height: 100vh;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;
}

.purs{
	background-image: url(../images/1111.jpg);
 	height: 100vh;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;

}

.crd{

}

.purs-1{
    height: 100vh;
	border-right: 10px double green;
	border-left: 10px double green;
}
#energy{
	margin-top: 5%;
}

.qt{
	background-color: rgba(255, 255, 255, 0.81);
	margin-top: 5%;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.date-modal:hover{
	color: #000000;
	background-color: rgba(51, 235, 0, 0.52);
	font-size: 1em;
}
.month {
    padding: 40px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.li-wrap{
  float: left;
  margin-left: 3%;
  margin-top: 3%;
}


.li-wrap1{
  
  margin-left: 3%;
  margin-top: -5%;
  
}
.galimg-1{
	margin-top: 12%;
	padding: 0;
}
.galtext-1{
	height: 60vh;
	padding: 0;
}
.galimg-2{
	margin-right: 10%;
	margin-top: 12%;
}



 /*contact page*/
.his-2{
    height: 90vh;
    width: 95%;
    margin: 0 auto;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-image:  url(../images/bamboo.jpeg);*/

}


 
 .contact{
 	height: 150vh;
 	background-image: url(../images/bgcontact.jpeg);
 	background-size: cover;
 	background-position: center;
 	background-attachment: fixed;
 }
 .contact-1{
 	background-size: cover;
 	background-position: center;
 	height: 50vh;
 	border-right: 10px double #119400;
 	border-left:  10px double #119400;
 	/*background-image: url(../images/bgcontact.jpeg);*/
 }

 .touch{
 	font-family: 'Bree Serif', serif;
 }
 .map{
 	margin-top: 4%;
 }


 #org{
 	height: 100vh;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(../images/pine.jpeg);
	
 }

/*home page*/

#home-landing{
	padding: 25%;
	background-color: rgba(26, 74, 91, 0.52);
}

/*pursuit page*/

#tiger-img{
	width: 100%;
}

#panda-img{
	width: 100%;
}

#panda{
	margin-top: 2%;
}
.panda-text{
	margin-top: 2%;
}
.donate{
	margin-top: 10%;
	border-left: 10px double green;
	border-right: 10px double green;
}




/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 400px)
  and (-webkit-min-device-pixel-ratio: 2){
    
body {
    overflow-x: hidden !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

#burger{
	font-color: black;
}
 .company{
	font-size: 10px;
	position: absolute;
	top:1%;
	font-family: 'Pattaya', sans-serif;
	color: black;
	z-index: 1;
}

#port-jumbo{
	/*border: 5px solid rgba(15, 34, 51, 0.74);*/
	border-radius: 10px;
	width: 60%;
	padding: 1em 4em;
	background-color: rgba(217, 235, 242, 0.3);
	height: 350px;
	position: absolute;
	top: 13%;
	left: 20%;
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	/*background-color: rgba(14, 137, 251, 0.66);*/
	background-image: url(../images/bg1.jpg);
	border-radius: 0;
	background-size: cover;
	background-position: center;

}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: #f2f2f2;
	font-size:8px;
   
}

#welcome{
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
}
#web{
	font-size: 12px;
}

#button{
	width: 100px;
	margin: 0 auto;
	background-color: /*rgba(11, 244, 35, 0.82)*/rgba(43, 14, 47, 0.87);
	position: relative;
	top: 5%;
	height: 30px;
	
}
#button:hover{
	background-color: rgba(188, 36, 171, 0.92);

}

div > div > p >strong{
	font-family: 'Cormorant Garamond', serif;
	color: #000000;
	font-size: 30px;
}

.nav{
	background-color: /*rgba(217, 235, 242, 0.3)*/rgba(243, 229, 246, 0.75);
	position: absolute;
	left: 0%;
	top:0%;
	width: 100%;
	height: 50px;
	
}

.nav-link{
	color: black;
	font-family: 'Ledger', serif;
	background-color: /*rgba(235, 30, 225, 0.82)*//*rgba(171, 68, 187, 0.72)*/;
	position: relative;
	top:15%;
	font-size: 7px;
}
#fav{
	width:20px;
	height:20px;
	border-radius: 10%;
	
}

.round-con{
	height: 100%;
	overflow: hidden;
	}

.event{
	height: 420px;
	padding:0;
	overflow: hidden;

	

 }
#event{
	background-image: none;
}
 .sidelist {
 	position: relative;
 }

#list-tab {
	
	position: absolute;
	top: 0;
}

 .related{
 	height: 100%;
 	padding: 0;
 	overflow: hidden;
 }

 .icon-bottom{
	font-size: 1em;
    color: rgba(2, 15, 18, 1);
    margin-left: 6%;
}

.li-wrap1{
  
  margin-left: 3%;
  margin-top: -8%;

}
.top-icon{
    font-size: 2em;
    color: rgba(2, 15, 18, 1);
    margin-left: 0;
}
.list-group{
  
  font-size: 14px;
}

.tab-content{
	position: relative;
	top: 0;

}
.con{ 
	overflow: hidden; 
}

.his-2{
    height: 223vh;
    width: 95%;
    margin: 0 auto;
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image:  url(../images/bamboo.jpeg);

}

.purs{

 	height: 100%;
 	

}

.context{
	font-size: 12px;
}

#link{



      
}

}




  /*Tablet*/

  @media only screen and (min-width: 401px)
  and (max-width:960px){
.company{
	font-size: 15px;
	position: absolute;
	top:1%;
	font-family: 'Pattaya', sans-serif;
	color: black;
	z-index: 1;
}

#port-jumbo{
	/*border: 5px solid rgba(15, 34, 51, 0.74);*/
	border-radius: 10px;
	width: 60%;
	padding: 1em 4em;
	background-color: rgba(217, 235, 242, 0.3);
	height: 400px;
	position: absolute;
	top: 18%;
	left: 20%;
}

#jumbo-div{
	padding-top: 10%;
	height: 100vh;
	/*background-color: rgba(14, 137, 251, 0.66);*/
	background-image: url(../images/bg1.jpg);
	border-radius: 0;
	background-size: cover;
	background-position: center;
	width: 800px;
}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: #f2f2f2;
	font-size:13px;
   
}

#welcome{
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
}
#web{
	font-size: 20px;
}

#button{
	width: 150px;
	margin: 0 auto;
	background-color: /*rgba(11, 244, 35, 0.82)*/rgba(43, 14, 47, 0.87);
	position: relative;
	top: 8%;
	
}
#button:hover{
	background-color: rgba(188, 36, 171, 0.92);

}

div > div > p >strong{
	font-family: 'Cormorant Garamond', serif;
	color: #000000;
	font-size: 30px;
}

.nav{
	background-color: /*rgba(217, 235, 242, 0.3)*/rgba(243, 229, 246, 0.75);
	position: absolute;
	left: 0%;
	top:0%;
	width: 104%;
	height: 50px;
	
}

.nav-link{
	color: black;
	font-family: 'Ledger', serif;
	background-color: /*rgba(235, 30, 225, 0.82)*//*rgba(171, 68, 187, 0.72)*/;
	position: relative;
	top:15%;
	font-size: 10px;
}
#fav{
	width:30px;
	height:30px;
	border-radius: 10%;
	
}

.round-con{
	/*height: 100%;*/
	overflow: hidden;
	}

.event{
	/*height: 100%;
	padding:0;*/
	overflow: hidden;

 }

 .related{
 	/*height: 100%;
 	padding: 0;*/
 	overflow: hidden;
 }
.li-wrap1{
  
  margin-left: 3%;
  margin-top: 0%;
 }
.con{ 
	overflow: hidden; 
}


  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
 }

 #event{
	background-image: none;
}

.context{
	font-size: 20px;
}

.event{
	height: 650px;
	padding:0;
	overflow: hidden;
	


	}
.tab-content{
	position: relative;
	top: 20%;

}
.list-group{
  position: relative;
  top: 20%;
}
.related{
  height: 90vh;
}


}
